# Dependencies
node_modules/

# Next.js
.next/
out/
dist/

# Environment
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# System
.DS_Store
*.log

# Build
dist/
out/

# Deployment
.vercel/
.turbo/

# IDE
.vscode/
.idea/
.vercel
